.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card {
  display: inline-block;
  text-align: center;
  width: 1em;
  font-size: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
}
.boxbutton {
  background-color: rgb(202, 241, 110);
  color: rgb(2, 2, 2);
  border: 10px solid rgb(255, 7, 7);
  box-shadow: 5 8px 16px 0 rgba(0,0,0,0.2);
  font-size: 1.5em;
}
.boxbutton1 {
  background-color: rgb(113, 252, 0);
  color: rgb(2, 2, 2);
  border: 10px solid rgb(25, 109, 14);
  font-size: 2em;
}
.boxbutton2 {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 2);
  border: 10px solid rgb(3, 3, 3);
  font-size: 5em;
}
.boxbutton3 {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 2);
  border: 10px solid rgb(255, 255, 255);
  font-size: 4em;
}
.boxbutton4 {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 2);
  border: 10px solid rgb(255, 255, 255);
  font-size: 4em;
}
.activeCard {
color: rgb(15, 15, 15);
background: rgb(251, 255, 4);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
