.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card {
  display: inline-block;
  text-align: center;
  width: 1em;
  font-size: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
}
.boxbutton {
  background-color: rgb(196, 202, 181);
  color: rgb(2, 2, 2);
 
  box-shadow: 5 20px 35px 0 rgba(0,0,0,0.2);
  font-size: 1.75em;
}
.boxbutton1 {
  background-color: rgb(228, 227, 227);
  color: rgb(2, 2, 2);
  border: 10px solid rgb(58, 48, 48);
  font-size: 2em;
}
.boxbutton2 {
  background-color: rgba(218, 216, 216, 0.918);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: rgb(2, 2, 2);
  border: 4px solid rgb(41, 33, 33);
  font-size: 5em;
}
.boxbutton3 {
  background-color: rgba(224, 221, 221, 0.87);
  color: rgb(2, 2, 2);
  border: 1px solid rgb(223, 217, 217);
  font-size: 4em;
}
.boxbutton4 {
  background-color: rgba(224, 221, 221, 0.87);
  color: rgb(2, 2, 2);

  font-size: 1em;
}
.activeCard {
color: rgb(15, 15, 15);
background: rgb(250, 250, 248);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
